.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #131313;
  opacity: 80%;
  padding-left: 12%;
  padding-right: 12%;
  font-family: HK Grotesk;
}
.website-logo {
  height: 30px;
}
.nav-link {
  color: #ffffff;
  margin-left: 40px;
  text-decoration: none;
}
.nav-menu-container {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.search-icon {
  color: #ffffff;
  font-size: 20px;
}
.nav-profile-container {
  display: flex;
  align-items: center;
}
.search-button {
  background-color: transparent;
  border: none;
}

.search-icon-container {
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.search-input {
  height: 32px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffffff;
}
.no-display {
  display: none;
}
.profile-icon {
  margin-left: 40px;
}
