.movie-item-details-container {
}

.movie-poster-container {
  color: #ffffff;
}
.movie-details-container {
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.ua-container {
  padding: 2px;
  border: 1px solid #ffffff;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 10px;
}

.movie-details {
  font-family: HK Grotesk;
  background-image: linear-gradient(to left bottom, transparent, #181818);
}

.movie-details-row-container {
  margin-top: -10px;
  display: flex;
  align-items: center;
}
.movie-details-button {
  justify-self: flex-start;
  background-color: #ffffff;
  color: #000000;
  border: none;
  outline: none;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}
.details-container {
  background-image: linear-gradient(to left bottom, #18181818, #181818);
  margin-top: -5px;
  list-style-type: none;
  padding-left: 12%;
  padding-right: 12%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.genres-list {
  list-style-type: none;
}
.audio-available-list {
  list-style-type: none;
}

.more-like-this-container {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.more-like-this-heading {
  margin-top: -20px;
  font-size: 24px;
  font-family: HK Grotesk;
}

.more-like-this {
  margin-top: -20px;
  padding-left: 12%;
  padding-right: 12%;
  background-color: #181818;
}
.sub-heading {
  font-family: HK Grotesk;
  font-size: 16px;
  color: #94a3b8;
}
.list-text {
  font-family: HK Grotesk;
  font-size: 14px;
}
.movie-title {
  font-size: 48px;
  font-weight: 600px;
  font-family: HK Grotesk;
}
.movie-description {
  font-family: HK Grotesks;
  font-size: 22px;
}
