.movie-poster-container {
  height: 55vh;

  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
.movie-details-container {
  padding-left: 12%;
  padding-right: 12%;
}
.ua-container {
  padding: 2px;
  border: 1px solid #ffffff;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 10px;
}
.movie-details-row-container {
  display: flex;
  align-items: center;
}
.movie-details-button {
  justify-self: flex-start;
  background-color: #ffffff;
  color: #000000;
  border: none;
  outline: none;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}
