.login-container {
  height: 100vh;
  width: 100vw;
  background-image: url('https://res.cloudinary.com/dk5lwv6ev/image/upload/v1671790320/MoviesApp/netfilx_1_1x_d8qzvw.png');
  background-size: cover;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  align-items: center;
  font-family: Roboto;
}

.login-logo-container {
  align-self: flex-start;
  margin-top: -5%;
  margin-left: 3%;
}

.login-logo {
  width: 150px;
  height: 42px;
}

.login-card-container {
  margin-top: -20%;
  width: 366px;
  height: 350px;
  border-radius: 8px;
  opacity: 80%;
  background-color: #0c0b10;
}
.login-form-container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.login-card-header {
  color: #ffffff;
}

.username {
  align-self: stretch;
  height: 32px;
  border-radius: 2px;
  background-color: #333333;
  color: #ffffff;
  outline: none;
  font-size: 14px;
  border: none;
  margin-top: -12px;
  padding: 10px;
}
.password {
  align-self: stretch;
  height: 32px;
  border-radius: 2px;
  background-color: #333333;
  color: #ffffff;
  outline: none;
  font-size: 14px;
  border: none;
  margin-top: -12px;
  padding: 10px;
}
.username-label {
  align-self: flex-start;
  color: #ffffff;
  font-size: 9px;
}
.password-label {
  align-self: flex-start;
  color: #ffffff;
  font-size: 9px;
  margin-top: -10px;
}
.login-submit-button {
  align-self: stretch;
  background-color: #e50914;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 10px;
  font-size: 10px;
}

.login-error {
  align-self: flex-start;
  color: #dc2626;
  font-size: 14px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  login-container {
    width: 456px;
    height: 440px;
  }
  login-logo {
    width: 140px;
    height: 32px;
  }

  login-container {
    background-image: url('https://res.cloudinary.com/dk5lwv6ev/image/upload/v1671790327/MoviesApp/netfilx_1_2x_ffqrjp.png');
    background-size: cover;
  }
}
